/* Reset de estilos */
body, h1, h2, p, ul, li, img, form, input, textarea, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  
}
.logo {
    max-width: 80%; /* Ancho máximo del div del logo */
    margin-bottom: 10px; /* Espacio entre el logo y los iconos de redes sociales */
}

.logo img {
    max-width: 100%; /* Hace que la imagen del logo sea responsive */
    height: auto;
}


nav ul {
    list-style-type: none;
    text-align: center; /* Centra los elementos del menú */
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #0D6EFD;
    font-weight: bold;
}

section {
    padding: 40px;
    background-color: #719cdd;
    margin-bottom: 20px;
}

.section-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px; /* Ajusta el espaciado en las secciones */
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 20px;
}

footer {
    background-color: #ffffff; /* Fondo blanco */
    color: #333; /* Color de texto */
    text-align: center;
    padding: 20px;
}

footer p {
    margin: 0;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form textarea {
    height: 100px;
}

form button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #555;
}

body.inicio,
body.mision,
body.vision,
body.propuesta,
body.servicios,
body.valores {
    background-color: #719cdd; /* Color de fondo para las páginas */
}

.checkboxes input[type="checkbox"] {
    display: inline-block;
    margin-right: 10px;
}

.checkboxes label {
    display: inline-block;
    margin-right: 20px;
}

/* Estilos para las imágenes en las secciones */
.section-content {
    display: flex;
    align-items: center;
}

.image {
    flex: 1;
    float: left;
    height: auto;
    width: 100%;
    padding: 20px;
}

.image img {
    max-width: 100%;
    height: auto;
}
.additional-image {
   /* position: absolute;*/
    bottom: 0;
    left: 0;
}

.text {
    flex: 2;
    padding: 20px;
}

/* Estilos para las imágenes en las secciones */
.section-content {
    display: flex;
    flex-direction: column;
}

.image-text,
.text-image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.image-text img,
.text-image img {
    max-width: 50%;
}

.text {
    flex: 1;
    padding: 0 20px;
}

.text-image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.text-image img {
    max-width: 45%;
    order: 2; /* Cambia el orden de la imagen */
}

/* Media queries para estilos responsive */
@media screen and (max-width: 767px) {
    nav ul li {
        margin-right: 0; /* Elimina el margen derecho */
        margin-bottom: 10px; /* Ajusta el espacio entre elementos del menú */
    }

    .image-text img {
        width: 100%; /* Ajusta el ancho de la imagen al tamaño de la pantalla */
    }
}
